.con {
  display: flex;
  width: 100%;
  padding: 0 30px;
  background-color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.2rem;
  margin-top: 15px;
}
.title-input {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
}
.desc-input {
  font-size: 1.2rem;
  padding: 5px;
  height: 100px;
  border-radius: 5px;
  resize: none;
}

.button {
  width: fit-content;
  padding: 10px;
  margin: 10px 0;
  color: var(--primary-color);
  background: var(--secondary-color);
}